.hoc-container{
    width: 70px;
    height: 70px;
    transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    transform: rotatex(180deg) translate3d(0, -220px,0);/* the Y-Value shall be higher than the height on hover*/
    transform-origin: top;
}